<nav>
  <button (click)="getCompanies()">Get new companies</button>
  <a routerLink="/address-book"><button>Address book</button></a>
</nav>
<div>
  <input type="text" placeholder="Search by name" [(ngModel)]="searchTerm" />
</div>
<div>
  <table>
    <thead>
      <th>Name</th>
      <th>Street address</th>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies | companyFilter: searchTerm">
        <td>{{ company.name }}</td>
        <td>{{ company.address.streetAddress }}</td>

        <button id="{{ company.id }}" (click)="saveCompany(company)" ion-button>
          save company
        </button>
      </tr>
    </tbody>
  </table>
</div>
