<nav>
  <a routerLink="/"><button>Return</button></a>
</nav>
<div>
  <div>
    <table>
      <thead>
        <th>Name</th>
        <th>Street address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
      </thead>
      <tbody>
        <tr *ngFor="let address of addressbook">
          <td>{{ address.name }}</td>
          <td>{{ address.street_address }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.state }}</td>
          <td>{{ address.zip }}</td>
          <button (click)="removeAddress(address.id)">remove</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
